* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(120deg, #061013, #0083b0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.login-form {
    background: linear-gradient(120deg, #061013, #0083b0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 15px;
    font-size: 24px;
    text-align: center;
}

.login-form p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #9aa3a6;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    color: #9aa3a6;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forgot label {
    display: flex;
    align-items: center;
}

.remember-forgot input {
    margin-right: 5px;
}

.remember-forgot a {
    color: #11292e;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #333333;
}

.register {
    text-align: center;
    margin-top: 20px;
    color: #9aa3a6;
}

.register a {
    color: #00b4db;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}
